/*
Theme Name: Mr Reiki
Text Domain: mr-reiki
Version: 1.0
Requires at least: 4.7
Requires PHP: 7.4
Description: Thème du site vitrine Mr Reiki, thème enfant de TwentySeventeen. =
Template: twentyseventeen
Author URI: vincent.hyper-drive.fr
Theme URI: vincent.hyper-drive.fr/themes/reiki/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/
/*********/
/* Fonts */
/*********/
@font-face {
    font-family: 'Merienda';
    src: url('fonts/Merienda_One/MeriendaOne-Regular.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}
h1, h2, h3, h4, h5, h6, header, .site-title a {
    font-family: Merienda;
}
* {
    font-family: Roboto;
}
.navigation-always-fixed {
  bottom: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 7;
}
.admin-bar .navigation-always-fixed {
  top: 32px;
}
@media screen and (min-width: 48em) {
  .has-sidebar #secondary {
		float: none;
		padding-top: 0;
		width: auto;
	}
  .site-header .site-navigation-fixed .menu-scroll-down {
    display: none;
  }
}
.social-navigation a, .social-navigation a:hover {
  background-color: transparent;
}
.social-navigation .icon {
  width: 32px;
  height: 32px;
}
